@font-face{
  font-family: "Class";
  src: url(/fonts/Class.otf);
  font-weight: normal;
  font-style: normal;
}

@font-face{
  font-family: "Banbury";
  src: url(/fonts/Banbury.otf);
  font-weight: normal;
  font-style: normal;
}

*{
  box-sizing: border-box;
}

body, html{
  width: 100vw;
  height: 100vh;
  margin: 0;
  background-color: #ECF1F7;
  color: #ECF1F7;
}

/* NavBar Fixed */

header{
  width: 100vw;
  height: 15vh;
  position: fixed;
  top: 0;
  background-color: #153F79;
  border-bottom: 2px solid #ECF1F7;
  display: flex;
  justify-content: center;
  z-index: 1000;
}

nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
}

nav ul{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95vw;
}

.burger{
  width: 6vw;
  height: 6vh;
}

.brand{
  font-size: 40px;
  font-family: "Class", cursive;
  letter-spacing: 3px;
}

.shop{
  background: url("/img/shop.png");
  background-size: cover;
  width: 6vh;
  height: 6vh;
  cursor: pointer;
}

/* Page 1 */

.page1{
  width: 100vw;
  margin-top: 90px;
  font-size: 50px;
  color: #ECF1F7;
  font-family: "Banbury", cursive;
  text-shadow: 0 0 10px #272727;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, 1fr);
  grid-gap: 5px;
  overflow-x: hidden;
}

/* section custom */

.custom{
  width: 100vw;
  height: 50vh;
  background: url("/img/bgHome.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  grid-area: 1 / 1 / auto / auto;
}

.custom-text, .new-text{
  height: 30vh;
  padding: 10px 0 0 5px;
}

/* text of custom */

.custom-text{
  animation: slideright 1s;
}

/* text of new */

.new-text{
  transform: translateX(-500px);
  transition: transform 1s;
}

/* Button */

.button-cs, .button-trend, .button-new{
  width: 70px;
  height: 40px;
  border: 2px solid #ECF1F7;
  border-radius: 10px;
  display:flex;
  justify-content: center;
  align-items: center;
  transition: 1s;
  overflow: hidden;
  cursor: pointer;
}

.button-cs, .button-new{
  align-self: flex-end;
  margin-right: 10px; 

}

.button-cs{
  background-color: #153F79;
  animation: slideleft 2s;
}

.button-new{
  background-color: #626F8C;
  transform: translateX(500px);
  transition: transform 2s;
} 

.button-trend{
  background-color: #272727;
  transform: translateX(-500px);
  margin-left: 10px;
  transition: transform 2s;
} 

.button-trend .arrow{
  transform: translateX(20px) rotate(180deg);
}

.arrow{
  background: url("/img/arrow-white.png");
  background-size: cover;
  width: 30px;
  height: 30px;

}

.button-cs .arrow, .button-new .arrow{
  transform: translate(-20px);
}

.button-cs:hover .arrow, .button-new:hover .arrow{
  animation: arrow 1s forwards;
}
.button-trend:hover .arrow{
  animation: arrowleft 1s forwards;
}

/* section trend */

.trend{
  width: 100vw;
  height: 50vh;
  background: url("/img/bgTrends.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  grid-area: 2 / 1 / auto / auto;

}

/* text of trend */

.trend-text{
  height: 30vh;
  padding: 10px 5px 0 0;
  align-self: flex-end;
  transform: translateX(100px);
  opacity: 0;
  transition: transform 1s, opacity 1s; 
}

/* Reset js */

.reset div:not(.arrow){
  transform: none;
  opacity: 1;
}

/* section new */

.new{
  width: 100%;
  height: 50vh;
  background: url("/img/bgNews.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  grid-area: 3 / 1 / auto / auto;
}

/* keyframes */

@keyframes slideright{
  from{
    transform: translateX(-500px);
    opacity: 0;
  }
}

@keyframes slideleft{
  from{
    transform: translateX(500px);
    opacity: 0;
  }
}

@keyframes arrow{
  to{
    transform: translateX(17px);
  }
}

@keyframes arrowleft{
  to{
    transform: translateX(-17px) rotate(180deg);

  }
}

